<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>915316254077-vel28v462r6jj28e13f9177ookaecifv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.915316254077-vel28v462r6jj28e13f9177ookaecifv</string>
	<key>API_KEY</key>
	<string>AIzaSyBp27mCnKGX8HHvKRkVmwdbR0ahQEwed0g</string>
	<key>GCM_SENDER_ID</key>
	<string>915316254077</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.workii</string>
	<key>PROJECT_ID</key>
	<string>workii-e1590</string>
	<key>STORAGE_BUCKET</key>
	<string>workii-e1590.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:915316254077:ios:123717ca6948af74385814</string>
</dict>
</plist>